services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: fitcity-sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Your_password123"
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P Your_password123 -C -d master -Q \"SELECT 1\""]
      interval: 10s
      timeout: 5s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    container_name: fitcity-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  fitcity.api:
    build:
      context: ./src
      dockerfile: FitCity.Api/Dockerfile
    container_name: fitcity-api
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__DefaultConnection: "Server=sqlserver,1433;Database=210075;User Id=sa;Password=Your_password123;TrustServerCertificate=True;"
      Jwt__Issuer: "FitCity"
      Jwt__Audience: "FitCityClients"
      Jwt__SecretKey: "super-secret-dev-key-change-32bytes"
      Jwt__ExpirationMinutes: "120"
      RabbitMq__HostName: "rabbitmq"
      RabbitMq__Port: "5672"
      RabbitMq__UserName: "guest"
      RabbitMq__Password: "guest"
      RabbitMq__Exchange: "fitcity.events"
    ports:
      - "8081:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
      rabbitmq:
        condition: service_started

  fitcity.notifications.api:
    build:
      context: ./src
      dockerfile: FitCity.Notifications.Api/Dockerfile
    container_name: fitcity-notifications
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__DefaultConnection: "Server=sqlserver,1433;Database=210075;User Id=sa;Password=Your_password123;TrustServerCertificate=True;"
      RabbitMq__HostName: "rabbitmq"
      RabbitMq__Port: "5672"
      RabbitMq__UserName: "guest"
      RabbitMq__Password: "guest"
      RabbitMq__Exchange: "fitcity.events"
    ports:
      - "8082:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
      rabbitmq:
        condition: service_started
